<div class="add-user">
    <form action="/examples/actions/confirmation.php" method="post">
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Title">
    </div>
	<label for="inputPassword" class="col-sm-2 col-form-label">Designation</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="inputdesignation" placeholder="Designation">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Department Name</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Department Name">
    </div>
	<label for="inputPassword" class="col-sm-2 col-form-label">Site Id</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="endDate" placeholder="siteId">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="inputPassword" placeholder="First Name">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Middle Name</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="inputPassword" placeholder="Middle Name">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="inputPassword" placeholder="Last Name">
    </div>
  </div> 
   <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Display Name</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="inputPassword" placeholder="Display Name">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">LoginID</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="loginID" placeholder="LoginID">
    </div>
	   <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
     
     <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Phone">
    </div>
	<label for="inputPassword" class="col-sm-2 col-form-label">Mobile</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Mobile">
    </div>
  </div>
     <div class="form-group row">
    
  </div>
     <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Email">
    </div>
	<label for="inputPassword" class="col-sm-2 col-form-label">Status</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="startDate" placeholder="Status">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Addr1</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Ad1dr1">
    </div>
	<label for="inputPassword" class="col-sm-2 col-form-label">Adr2</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Addr2">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">City</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="City" placeholder="City">
    </div>
	<label for="inputPassword" class="col-sm-1 col-form-label">STATE</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="inputPassword" placeholder="State">
    </div>
	<label for="inputPassword" class="col-sm-1 col-form-label">Country</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="inputPassword" placeholder="Country">
    </div>
  </div>
    <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Start Date</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="startDate" placeholder="Start date">
    </div>
	<label for="inputPassword" class="col-sm-2 col-form-label">End Date</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="endDate" placeholder="End Date">
    </div>
  </div> 
  
   <div class="form-group row">
   <div class="col-sm-10"></div><div class="col-sm-2">
           <button type="submit" class="btn btn-primary">Save</button>
		    <button type="submit" class="btn btn-primary">Cancel</button>
	</div></div>
    </form>
</div>